@font-face {
  font-family: Raleway;
  src: url("src/assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  user-select: none;
}
* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --text: #ddeaf7;
  --text2: #8996a3;
  --background: #07121e;
  --background2: #192432;
  --primary: #88b8e3;
  --secondary: #291d7c;
  --accent: #724cd5;
  --red: #f9846b;
  background-color: var(--background);
  color: var(--text);
}

#loader {
  height: 100vh;
  width: 100vw;
  display: none;
  justify-items: center;
}
#loader div {
  align-self: flex-end;
  --clock-color: var(--primary);
  --clock-width: 4rem;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 3px solid var(--clock-color);
  border-radius: 50%;
}
#loader div::before, #loader div::after {
  position: absolute;
  content: "";
  top: calc(var(--clock-radius) * 0.25);
  width: var(--clock-thickness);
  background: var(--clock-color);
  border-radius: 10px;
  transform-origin: center calc(100% - var(--clock-thickness) / 2);
  animation: spin infinite linear;
}
#loader div::before {
  height: var(--clock-minute-length);
  animation-duration: 2s;
}
#loader div::after {
  top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
  height: var(--clock-hour-length);
  animation-duration: 15s;
}
#loader h3 {
  padding-top: 2rem;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.confirm {
  height: 100vh;
  width: 100vw;
  display: none;
  justify-items: center;
  align-items: center;
  grid-template-rows: 22% 55% 23%;
}
.confirm .confirm-title {
  text-align: center;
}
.confirm .confirm-title p {
  margin-top: 0.8rem;
}
.confirm #putsongshere {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.confirm #putsongshere p {
  width: calc(100% - 5rem);
  margin: 0.7rem 2rem;
  padding: 0.4rem 0.5rem;
  background-color: var(--background2);
  border-radius: 10px;
}
.confirm .confirm-btns {
  display: flex;
  flex-direction: column;
}
.confirm .confirm-btns button {
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.confirm .confirm-btns button:hover {
  scale: 1.1;
}
.confirm .confirm-btns button:active {
  scale: 1.15;
}
.confirm .confirm-btns #confirm-stop {
  background-color: var(--red);
  margin-top: 1rem;
  padding: 0.3rem;
}
.confirm .confirm-btns #confirm-ok {
  padding: 1rem 1.5rem;
}

.display {
  height: 100vh;
  width: 100vw;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 55% 15% 30%;
  justify-items: center;
}
.display img {
  align-self: flex-end;
  max-height: 40vh;
  width: 40vw;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.display .display-info {
  height: 100%;
  width: 100%;
  align-self: flex-start;
  text-align: center;
}
.display .display-info h2 {
  padding-bottom: 0.5rem;
  font-weight: 700;
}
.display .display-info h4 {
  padding-bottom: 0.3rem;
}
.display .display-bar {
  height: 100%;
  width: 100%;
  align-self: flex-start;
  display: grid;
  justify-items: center;
}
.display .display-bar .db-container {
  height: 2rem;
  width: 60vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.display .display-bar .db-container p {
  font-size: 0.8rem;
}
.display .display-bar .db-container #d-cur-time {
  justify-self: flex-start;
  grid-row: 1/2;
  grid-column: 1/2;
}
.display .display-bar .db-container #d-total-time {
  justify-self: flex-end;
  grid-row: 1/2;
  grid-column: 2/3;
}
.display .display-bar .db-container .dbc-bar {
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  align-items: flex-end;
}
.display .display-bar .db-container .dbc-bar .dbcb-full {
  height: 50%;
  width: 100%;
  background-color: var(--background2);
  border-radius: 20px;
}
.display .display-bar .db-container .dbc-bar .dbcb-full #bar-to-fill {
  height: 100%;
  border-radius: 20px;
  background-color: var(--primary);
  width: 28%;
}

.settings {
  height: calc(100vh - 5rem);
  width: calc(100vw - 7rem);
  margin: 2.5rem 3.5rem;
  display: none;
  flex-direction: column;
}
.settings h1 {
  margin-bottom: 1rem;
}
.settings #close-settings {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 1.7rem;
  transform: rotate(90deg);
}
.settings .setting-depth h3, .settings .setting-steps h3 {
  margin-bottom: 0.5rem;
}
.settings .setting-depth p, .settings .setting-steps p {
  color: var(--text2);
}
.settings .setting-depth div, .settings .setting-steps div {
  display: flex;
  align-items: center;
}
.settings .setting-depth div input, .settings .setting-steps div input {
  margin: 1rem 0;
  width: 40vw;
}
.settings .setting-depth div p, .settings .setting-steps div p {
  margin-left: 1.5rem;
  padding: 0.4rem;
  border-radius: 10px;
  color: var(--background);
  background-color: var(--primary);
  user-select: none;
}
.settings .setting-loops h3 {
  margin-bottom: 0.5rem;
}
.settings .setting-loops p {
  color: var(--text2);
}
.settings .setting-loops div {
  display: flex;
  align-items: center;
}
.settings .setting-loops div input {
  margin: 1rem 0;
  width: 15vw;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  justify-items: center;
  align-items: center;
}
.container #open-settings {
  position: absolute;
  height: 1.8rem;
  top: 1.3rem;
  right: 1.7rem;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.container #open-settings:hover {
  scale: 1.1;
}
.container #open-settings:active {
  scale: 1.15;
}
.container .title-img {
  padding-top: 6rem;
  max-width: 60vw;
}
@media (max-height: 500px) {
  .container .title-img {
    padding-top: 0rem;
  }
}
.container form {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 15% 25%;
  align-items: center;
  justify-items: center;
}
.container form .timer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}
.container form .timer div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.container form .timer div input {
  border: none;
  border-radius: 10px;
  background-color: var(--text);
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
}
.container form .timer div input:focus {
  outline: none;
  border: none;
}
.container form .timer div .btn-reverse {
  transform: rotate(180deg);
  margin-right: 0.4rem;
  margin-left: 0;
}
.container form .timer div img {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  margin-left: 0.4rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.container form .timer div img:hover {
  scale: 1.1;
}
.container form .timer div img:active {
  scale: 1.15;
}
.container form .timer p {
  margin-left: 0.5rem;
}
.container form .path {
  align-self: flex-start;
  text-align: center;
}
.container form .path button {
  padding: 0.6rem 1rem;
  background-color: var(--primary);
  border: none;
  border-radius: 1rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.container form .path button:hover {
  scale: 1.1;
}
.container form .path button:active {
  scale: 1.15;
}
.container form .path p {
  padding-top: 0.3rem;
  font-size: 0.9rem;
}
.container form .submit-button {
  background-color: var(--primary);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.container form .submit-button:hover {
  box-shadow: 0 0 5px 2px var(--primary);
  scale: 1.1;
}
.container form .submit-button:active {
  scale: 1.15;
}

/*# sourceMappingURL=index.css.map */
